In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np

import pm4py
from pm4py.objects.conversion.log import converter as xes_converter
from pm4py.objects.log.importer.xes import importer as xes_importer
pd.set_option('display.max_columns', None)

# Initial mapping

In [2]:
mapping = {"sepsis":
                                {"name":"sepsis",
                                 "dest":"data/sepsis/Sepsis Cases - Event Log.xes",
                                 "type":"xes",
                                 "utc":True,
                                 "timestamp":"2014-10-22 11:27:00+02:00",
                                             "keep_columns":["case:concept:name","concept:name","time:timestamp","org:group"],
                                             "new_colnames":["caseid","activity","timestamp","resource"],
                                 "cat_features":[],
                                 "num_features":[]},

            "traffic_fines": 
                                {"name":"traffic_fines",
                                 "dest":"data/traffic_fines/Road_Traffic_Fine_Management_Process.xes",
                                 "type":"xes",
                                 "utc":True,
                                 "timestamp":"2006-07-24 00:00:00+02:00",
                                             "keep_columns":["case:concept:name","concept:name","time:timestamp","org:resource"],
                                             "new_colnames":["caseid","activity","timestamp","resource"],
                                 "cat_features":[],
                                 "num_features":[]},
            "hospital_billing":
                                {"name":"hospital_billing",
                                 "dest":"data/hospital_billing/Hospital Billing - Event Log.xes",
                                 "type":"xes",
                                 "utc":True,
                                 "timestamp":"2012-12-16 19:33:10+01:00",
                                             "keep_columns":["case:concept:name","concept:name","time:timestamp","org:resource"],
                                             "new_colnames":["caseid","activity","timestamp","resource"],
                                 "cat_features":[],
                                 "num_features":[]},
            "service_desk":
                                {"name":"service_desk",
                                 "dest":"data/BPI2014/Service desk//Detail_Incident_Activity.csv",
                                 "type":"csv",
                                 "sep":";",
                                 "utc":False,
                                 "timestamp":"07-01-2013 08:17:17",
                                 "timeformat":"%d-%m-%Y %H:%M:%S", #"%Y-%m-%d %H:%M:%S",
                                             "keep_columns":["Incident ID","IncidentActivity_Type","DateStamp","Assignment Group"],
                                             "new_colnames":["caseid","activity","timestamp","resource"],
                                 "cat_features":[],
                                 "num_features":[]},
            "helpdesk":
                                {"name":"helpdesk",
                                 "dest":"data/helpdesk/finale_helpdesk.csv",
                                 "type":"csv",
                                 "sep":",",
                                 "utc":False,
                                 "timestamp":"07/01/2013 08:17:17",
                                 "timeformat":"%Y/%m/%d %H:%M:%S",
                                 "keep_columns":["Case ID","Activity","Complete Timestamp","Resource",],
                                 "new_colnames":["caseid","activity","timestamp","resource",],
                                 "cat_features":[],
                                 "num_features":[]},
          "simulation":
                                {"name":"simulation",
                                 "dest":"data/simulated_log.csv",
                                 "type":"csv",
                                 "sep":",",
                                 "utc":False,
                                 "timestamp":"07/01/1970  18:59:43",
                                 "timeformat":"%d/%m/%Y %H:%M:%S", #"%Y-%m-%d %H:%M:%S",
                                             "keep_columns":["id","event","start_datetime"],
                                             "new_colnames":["caseid","activity","timestamp"],
                                 "cat_features":[],
                                 "num_features":[]}}

In [3]:
mapping

{'sepsis': {'name': 'sepsis',
  'dest': 'data/sepsis/Sepsis Cases - Event Log.xes',
  'type': 'xes',
  'utc': True,
  'timestamp': '2014-10-22 11:27:00+02:00',
  'keep_columns': ['case:concept:name',
   'concept:name',
   'time:timestamp',
   'org:group'],
  'new_colnames': ['caseid', 'activity', 'timestamp', 'resource'],
  'cat_features': [],
  'num_features': []},
 'traffic_fines': {'name': 'traffic_fines',
  'dest': 'data/traffic_fines/Road_Traffic_Fine_Management_Process.xes',
  'type': 'xes',
  'utc': True,
  'timestamp': '2006-07-24 00:00:00+02:00',
  'keep_columns': ['case:concept:name',
   'concept:name',
   'time:timestamp',
   'org:resource'],
  'new_colnames': ['caseid', 'activity', 'timestamp', 'resource'],
  'cat_features': [],
  'num_features': []},
 'hospital_billing': {'name': 'hospital_billing',
  'dest': 'data/hospital_billing/Hospital Billing - Event Log.xes',
  'type': 'xes',
  'utc': True,
  'timestamp': '2012-12-16 19:33:10+01:00',
  'keep_columns': ['case:concept:name',
   'concept:name',
   'time:timestamp',
   'org:resource'],
  'new_colnames': ['caseid', 'activity', 'timestamp', 'resource'],
  'cat_features': [],
  'num_features': []},
 'service_desk': {'name': 'service_desk',
  'dest': 'data/BPI2014/Service desk//Detail_Incident_Activity.csv',
  'type': 'csv',
  'sep': ';',
  'utc': False,
  'timestamp': '07-01-2013 08:17:17',
  'timeformat': '%d-%m-%Y %H:%M:%S',
  'keep_columns': ['Incident ID',
   'IncidentActivity_Type',
   'DateStamp',
   'Assignment Group'],
  'new_colnames': ['caseid', 'activity', 'timestamp', 'resource'],
  'cat_features': [],
  'num_features': []},
 'helpdesk': {'name': 'helpdesk',
  'dest': 'data/helpdesk/finale_helpdesk.csv',
  'type': 'csv',
  'sep': ',',
  'utc': False,
  'timestamp': '07/01/2013 08:17:17',
  'timeformat': '%Y/%m/%d %H:%M:%S',
  'keep_columns': ['Case ID', 'Activity', 'Complete Timestamp', 'Resource'],
  'new_colnames': ['caseid', 'activity', 'timestamp', 'resource'],
  'cat_features': [],
  'num_features': []},
 'simulation': {'name': 'simulation',
  'dest': 'data/simulated_log.csv',
  'type': 'csv',
  'sep': ',',
  'utc': False,
  'timestamp': '07/01/1970  18:59:43',
  'timeformat': '%d/%m/%Y %H:%M:%S',
  'keep_columns': ['id', 'event', 'start_datetime'],
  'new_colnames': ['caseid', 'activity', 'timestamp'],
  'cat_features': [],
  'num_features': []}}

# Sepsis

In [4]:
file = mapping["sepsis"]
mapping["sepsis"]["dest"]

'data/sepsis/Sepsis Cases - Event Log.xes'

In [5]:
xeslog = xes_importer.apply("sepsis/Sepsis Cases - Event Log.xes")
df = xes_converter.apply(xeslog, variant=xes_converter.Variants.TO_DATA_FRAME)
df

parsing log, completed traces ::   0%|          | 0/1050 [00:00<?, ?it/s]

,InfectionSuspected,org:group,DiagnosticBlood,DisfuncOrg,SIRSCritTachypnea,Hypotensie,SIRSCritHeartRate,Infusion,DiagnosticArtAstrup,concept:name,Age,DiagnosticIC,DiagnosticSputum,DiagnosticLiquor,DiagnosticOther,SIRSCriteria2OrMore,DiagnosticXthorax,SIRSCritTemperature,time:timestamp,DiagnosticUrinaryCulture,SIRSCritLeucos,Oligurie,DiagnosticLacticAcid,lifecycle:transition,Diagnose,Hypoxie,DiagnosticUrinarySediment,DiagnosticECG,case:concept:name,Leucocytes,CRP,LacticAcid
0,True,A,True,True,True,True,True,True,True,ER Registration,85.0,True,False,False,False,True,True,True,2014-10-22 11:15:41+02:00,True,False,False,True,complete,A,False,True,True,A,NaN,NaN,NaN
1,NaN,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Leucocytes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-10-22 11:27:00+02:00,NaN,NaN,NaN,NaN,complete,NaN,NaN,NaN,NaN,A,9.6,NaN,NaN
2,NaN,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CRP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-10-22 11:27:00+02:00,NaN,NaN,NaN,NaN,complete,NaN,NaN,NaN,NaN,A,NaN,21.0,NaN
3,NaN,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LacticAcid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-10-22 11:27:00+02:00,NaN,NaN,NaN,NaN,complete,NaN,NaN,NaN,NaN,A,NaN,NaN,2.2
4,NaN,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ER Triage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-10-22 11:33:37+02:00,NaN,NaN,NaN,NaN,complete,NaN,NaN,NaN,NaN,A,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15209,NaN,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CRP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-16 07:00:00+01:00,NaN,NaN,NaN,NaN,complete,NaN,NaN,NaN,NaN,KNA,NaN,66.0,NaN
15210,NaN,E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Release A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-16 17:00:00+01:00,NaN,NaN,NaN,NaN,complete,NaN,NaN,NaN,NaN,KNA,NaN,NaN,NaN
15211,False,L,False,False,False,False,False,False,False,ER Registration,50.0,False,False,False,False,False,False,False,2014-12-03 10:50:28+01:00,False,False,False,False,complete,NaN,False,False,False,LNA,NaN,NaN,NaN
15212,NaN,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ER Triage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-03 10:54:19+01:00,NaN,NaN,NaN,NaN,complete,NaN,NaN,NaN,NaN,LNA,NaN,NaN,NaN
15213,NaN,L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ER Sepsis Triage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-03 10:54:39+01:00,NaN,NaN,NaN,NaN,complete,NaN,NaN,NaN,NaN,LNA,NaN,NaN,NaN

In [6]:
df.columns.tolist()

['InfectionSuspected',
 'org:group',
 'DiagnosticBlood',
 'DisfuncOrg',
 'SIRSCritTachypnea',
 'Hypotensie',
 'SIRSCritHeartRate',
 'Infusion',
 'DiagnosticArtAstrup',
 'concept:name',
 'Age',
 'DiagnosticIC',
 'DiagnosticSputum',
 'DiagnosticLiquor',
 'DiagnosticOther',
 'SIRSCriteria2OrMore',
 'DiagnosticXthorax',
 'SIRSCritTemperature',
 'time:timestamp',
 'DiagnosticUrinaryCulture',
 'SIRSCritLeucos',
 'Oligurie',
 'DiagnosticLacticAcid',
 'lifecycle:transition',
 'Diagnose',
 'Hypoxie',
 'DiagnosticUrinarySediment',
 'DiagnosticECG',
 'case:concept:name',
 'Leucocytes',
 'CRP',
 'LacticAcid']

In [7]:
cols = ['InfectionSuspected',
       'DiagnosticBlood',
         'DisfuncOrg',
         'SIRSCritTachypnea',
         'Hypotensie',
         'SIRSCritHeartRate',
         'Infusion',
         'DiagnosticArtAstrup',
           'Age',
         'DiagnosticIC',
         'DiagnosticSputum',
         'DiagnosticLiquor',
         'DiagnosticOther',
         'SIRSCriteria2OrMore',
         'DiagnosticXthorax',
         'SIRSCritTemperature',
           'DiagnosticUrinaryCulture',
         'SIRSCritLeucos',
         'Oligurie',
         'DiagnosticLacticAcid',
               'Diagnose',
         'Hypoxie',
         'DiagnosticUrinarySediment',
         'DiagnosticECG',
               'Leucocytes',
         'CRP',
         'LacticAcid']

In [8]:
df[cols]

,InfectionSuspected,DiagnosticBlood,DisfuncOrg,SIRSCritTachypnea,Hypotensie,SIRSCritHeartRate,Infusion,DiagnosticArtAstrup,Age,DiagnosticIC,DiagnosticSputum,DiagnosticLiquor,DiagnosticOther,SIRSCriteria2OrMore,DiagnosticXthorax,SIRSCritTemperature,DiagnosticUrinaryCulture,SIRSCritLeucos,Oligurie,DiagnosticLacticAcid,Diagnose,Hypoxie,DiagnosticUrinarySediment,DiagnosticECG,Leucocytes,CRP,LacticAcid
0,True,True,True,True,True,True,True,True,85.0,True,False,False,False,True,True,True,True,False,False,True,A,False,True,True,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.6,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.2
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15209,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0,NaN
15210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15211,False,False,False,False,False,False,False,False,50.0,False,False,False,False,False,False,False,False,False,False,False,NaN,False,False,False,NaN,NaN,NaN
15212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
mapping["sepsis"]['cat_features'] =['InfectionSuspected',
                                     'DiagnosticBlood',
                                     'DisfuncOrg',
                                     'SIRSCritTachypnea',
                                     'Hypotensie',
                                     'SIRSCritHeartRate',
                                     'Infusion',
                                     'DiagnosticArtAstrup',
                                     'DiagnosticIC',
                                     'DiagnosticSputum',
                                     'DiagnosticLiquor',
                                     'DiagnosticOther',
                                     'SIRSCriteria2OrMore',
                                     'DiagnosticXthorax',
                                     'SIRSCritTemperature',
                                     'DiagnosticUrinaryCulture',
                                     'SIRSCritLeucos',
                                     'Oligurie',
                                     'DiagnosticLacticAcid',
                                     'Diagnose',
                                     'Hypoxie',
                                     'DiagnosticUrinarySediment',
                                     'DiagnosticECG',
                                     'CRP']

mapping["sepsis"]['num_features'] = ['Age','LacticAcid','Leucocytes']

mapping["sepsis"]['keep_columns'] = mapping["sepsis"]['keep_columns'] + mapping["sepsis"]['cat_features']
mapping["sepsis"]['keep_columns'] = mapping["sepsis"]['keep_columns'] + mapping["sepsis"]['num_features']

mapping["sepsis"]['new_colnames'] = mapping["sepsis"]['new_colnames'] + mapping["sepsis"]['cat_features']
mapping["sepsis"]['new_colnames'] = mapping["sepsis"]['new_colnames'] + mapping["sepsis"]['num_features']

In [10]:
mapping["sepsis"]

{'name': 'sepsis',
 'dest': 'data/sepsis/Sepsis Cases - Event Log.xes',
 'type': 'xes',
 'utc': True,
 'timestamp': '2014-10-22 11:27:00+02:00',
 'keep_columns': ['case:concept:name',
  'concept:name',
  'time:timestamp',
  'org:group',
  'InfectionSuspected',
  'DiagnosticBlood',
  'DisfuncOrg',
  'SIRSCritTachypnea',
  'Hypotensie',
  'SIRSCritHeartRate',
  'Infusion',
  'DiagnosticArtAstrup',
  'DiagnosticIC',
  'DiagnosticSputum',
  'DiagnosticLiquor',
  'DiagnosticOther',
  'SIRSCriteria2OrMore',
  'DiagnosticXthorax',
  'SIRSCritTemperature',
  'DiagnosticUrinaryCulture',
  'SIRSCritLeucos',
  'Oligurie',
  'DiagnosticLacticAcid',
  'Diagnose',
  'Hypoxie',
  'DiagnosticUrinarySediment',
  'DiagnosticECG',
  'CRP',
  'Age',
  'LacticAcid',
  'Leucocytes'],
 'new_colnames': ['caseid',
  'activity',
  'timestamp',
  'resource',
  'InfectionSuspected',
  'DiagnosticBlood',
  'DisfuncOrg',
  'SIRSCritTachypnea',
  'Hypotensie',
  'SIRSCritHeartRate',
  'Infusion',
  'DiagnosticArtAstrup',
  'DiagnosticIC',
  'DiagnosticSputum',
  'DiagnosticLiquor',
  'DiagnosticOther',
  'SIRSCriteria2OrMore',
  'DiagnosticXthorax',
  'SIRSCritTemperature',
  'DiagnosticUrinaryCulture',
  'SIRSCritLeucos',
  'Oligurie',
  'DiagnosticLacticAcid',
  'Diagnose',
  'Hypoxie',
  'DiagnosticUrinarySediment',
  'DiagnosticECG',
  'CRP',
  'Age',
  'LacticAcid',
  'Leucocytes'],
 'cat_features': ['InfectionSuspected',
  'DiagnosticBlood',
  'DisfuncOrg',
  'SIRSCritTachypnea',
  'Hypotensie',
  'SIRSCritHeartRate',
  'Infusion',
  'DiagnosticArtAstrup',
  'DiagnosticIC',
  'DiagnosticSputum',
  'DiagnosticLiquor',
  'DiagnosticOther',
  'SIRSCriteria2OrMore',
  'DiagnosticXthorax',
  'SIRSCritTemperature',
  'DiagnosticUrinaryCulture',
  'SIRSCritLeucos',
  'Oligurie',
  'DiagnosticLacticAcid',
  'Diagnose',
  'Hypoxie',
  'DiagnosticUrinarySediment',
  'DiagnosticECG',
  'CRP'],
 'num_features': ['Age', 'LacticAcid', 'Leucocytes']}

In [11]:
def convert_to_csv(file):
    import pandas as pd
    from pm4py.objects.conversion.log import converter as xes_converter
    from pm4py.objects.log.importer.xes import importer as xes_importer
    
    if file["type"] == "csv":
        df = pd.read_csv(file["dest"],sep=file["sep"])
    if file["type"] == "xes":
        xeslog = xes_importer.apply(file["dest"])
        df = xes_converter.apply(xeslog, variant=xes_converter.Variants.TO_DATA_FRAME)
    
    
    #drop unused columns
    df = df[file["keep_columns"]]

    #rename colnames
    df.columns = file["new_colnames"]
    
    if file["utc"] == True:    
        #convert to string, for later truncation
        df["timestamp"] = df["timestamp"].astype(str)

        #get length of datetime
        dt_len = len(df.loc[0]["timestamp"])

        #remove the last chars, containing utc
        df['timestamp'] = df['timestamp'].str.slice(0, dt_len-6)
    
    if file["utc"] == False: 
        # convert to datetime
        df["timestamp"] = pd.to_datetime(df["timestamp"], format="%Y-%m-%d %H:%M:%S")
    

    #convert back to string
    #df["timestamp"] = df["timestamp"].dt.strftime("%Y-%m-%d %H:%M:%S") #%Y-%m-%d %H:%M:%S

    #convert string case ids into integer codes
    df["caseid"] = df["caseid"].astype('category')
    df["caseid"] = df["caseid"].cat.codes
        
    #sort by caseid, then timestamp
    df = df.sort_values(['caseid', 'timestamp'], ascending=[True, True])
    df.index = list(range(0,len(df)))
    
    #generate activity numbers
    df["activity_no"] = df.groupby('caseid').cumcount()
  
    """
    further processing
    """

    #df = df[['caseid', 'activity', 'activity_no', 'timestamp']]
    df = df[file["new_colnames"]]

    # rename
    df = df.rename({"caseid":"id", "timestamp":"time","activity":"event"}, axis='columns')
    
    #store to CSV
    df.to_csv(file["name"]+".csv",index=False)
    print(file["name"]+".csv")
    return df

In [12]:
mapping["sepsis"]["dest"] = "sepsis/Sepsis Cases - Event Log.xes"
file = mapping["sepsis"]

In [13]:
convert_to_csv(file)

parsing log, completed traces ::   0%|          | 0/1050 [00:00<?, ?it/s]

sepsis.csv

,id,event,time,resource,InfectionSuspected,DiagnosticBlood,DisfuncOrg,SIRSCritTachypnea,Hypotensie,SIRSCritHeartRate,Infusion,DiagnosticArtAstrup,DiagnosticIC,DiagnosticSputum,DiagnosticLiquor,DiagnosticOther,SIRSCriteria2OrMore,DiagnosticXthorax,SIRSCritTemperature,DiagnosticUrinaryCulture,SIRSCritLeucos,Oligurie,DiagnosticLacticAcid,Diagnose,Hypoxie,DiagnosticUrinarySediment,DiagnosticECG,CRP,Age,LacticAcid,Leucocytes
0,0,ER Registration,2014-10-22 11:15:41,A,True,True,True,True,True,True,True,True,True,False,False,False,True,True,True,True,False,False,True,A,False,True,True,NaN,85.0,NaN,NaN
1,0,Leucocytes,2014-10-22 11:27:00,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.6
2,0,CRP,2014-10-22 11:27:00,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,NaN,NaN,NaN
3,0,LacticAcid,2014-10-22 11:27:00,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.2,NaN
4,0,ER Triage,2014-10-22 11:33:37,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15209,1049,CRP,2014-11-14 07:00:00,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146.0,NaN,NaN,NaN
15210,1049,Leucocytes,2014-11-14 07:00:00,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.3
15211,1049,Leucocytes,2014-11-16 07:00:00,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.7
15212,1049,CRP,2014-11-16 07:00:00,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.0,NaN,NaN,NaN
15213,1049,Release A,2014-11-17 18:00:00,E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Helpdesk

In [14]:
file = mapping["helpdesk"]
mapping["helpdesk"]["dest"]

'data/helpdesk/finale_helpdesk.csv'

In [15]:
df = pd.read_csv('helpdesk/finale_helpdesk.csv')
df

,Case ID,Activity,Resource,Complete Timestamp,Variant,Variant index,Variant.1,seriousness,customer,product,responsible_section,seriousness_2,service_level,service_type,support_section,workgroup
0,Case 1,Assign seriousness,Value 1,2012/10/09 14:50:17.000,Variant 12,12,Variant 12,Value 1,Value 1,Value 1,Value 1,Value 1,Value 1,Value 1,Value 1,Value 1
1,Case 1,Take in charge ticket,Value 1,2012/10/09 14:51:01.000,Variant 12,12,Variant 12,Value 1,Value 1,Value 1,Value 1,Value 1,Value 1,Value 1,Value 1,Value 1
2,Case 1,Take in charge ticket,Value 2,2012/10/12 15:02:56.000,Variant 12,12,Variant 12,Value 1,Value 1,Value 1,Value 1,Value 1,Value 2,Value 1,Value 1,Value 1
3,Case 1,Resolve ticket,Value 1,2012/10/25 11:54:26.000,Variant 12,12,Variant 12,Value 1,Value 1,Value 1,Value 1,Value 1,Value 2,Value 1,Value 1,Value 1
4,Case 1,Closed,Value 3,2012/11/09 12:54:39.000,Variant 12,12,Variant 12,Value 1,Value 1,Value 1,Value 1,Value 1,Value 2,Value 1,Value 1,Value 1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21343,Case 4579,Closed,Value 5,2010/09/02 10:11:00.000,Variant 1,1,Variant 1,Value 1,Value 71,Value 3,Value 1,Value 1,Value 3,Value 1,Value 1,Value 1
21344,Case 4580,Take in charge ticket,Value 6,2012/01/03 09:33:43.000,Variant 18,18,Variant 18,Value 1,Value 92,Value 3,Value 1,Value 2,Value 2,Value 2,Value 1,Value 1
21345,Case 4580,Wait,Value 6,2012/01/10 15:30:11.000,Variant 18,18,Variant 18,Value 1,Value 92,Value 3,Value 1,Value 2,Value 2,Value 2,Value 1,Value 1
21346,Case 4580,Resolve ticket,Value 6,2012/01/10 17:07:40.000,Variant 18,18,Variant 18,Value 1,Value 92,Value 3,Value 1,Value 2,Value 2,Value 2,Value 1,Value 1
21347,Case 4580,Closed,Value 5,2012/02/08 17:00:34.000,Variant 18,18,Variant 18,Value 1,Value 92,Value 3,Value 1,Value 2,Value 2,Value 2,Value 1,Value 1

In [16]:
df.columns.tolist()

['Case ID',
 'Activity',
 'Resource',
 'Complete Timestamp',
 'Variant',
 'Variant index',
 'Variant.1',
 'seriousness',
 'customer',
 'product',
 'responsible_section',
 'seriousness_2',
 'service_level',
 'service_type',
 'support_section',
 'workgroup']

In [17]:
["Variant",
"seriousness",
"customer",
"product",
"responsible_section",
"seriousness_2",
"service_level",
"service_type",
"support_section",
"workgroup"]

['Variant',
 'seriousness',
 'customer',
 'product',
 'responsible_section',
 'seriousness_2',
 'service_level',
 'service_type',
 'support_section',
 'workgroup']

In [18]:
mapping["helpdesk"]['cat_features'] =["Variant",
                                        "seriousness",
                                        "customer",
                                        "product",
                                        "responsible_section",
                                        "seriousness_2",
                                        "service_level",
                                        "service_type",
                                        "support_section",
                                        "workgroup"]

mapping["helpdesk"]['num_features'] = []

mapping["helpdesk"]['keep_columns'] = mapping["helpdesk"]['keep_columns'] + mapping["helpdesk"]['cat_features']
mapping["helpdesk"]['keep_columns'] = mapping["helpdesk"]['keep_columns'] + mapping["helpdesk"]['num_features']

mapping["helpdesk"]['new_colnames'] = mapping["helpdesk"]['new_colnames'] + mapping["helpdesk"]['cat_features']
mapping["helpdesk"]['new_colnames'] = mapping["helpdesk"]['new_colnames'] + mapping["helpdesk"]['num_features']

In [19]:
mapping["helpdesk"]

{'name': 'helpdesk',
 'dest': 'data/helpdesk/finale_helpdesk.csv',
 'type': 'csv',
 'sep': ',',
 'utc': False,
 'timestamp': '07/01/2013 08:17:17',
 'timeformat': '%Y/%m/%d %H:%M:%S',
 'keep_columns': ['Case ID',
  'Activity',
  'Complete Timestamp',
  'Resource',
  'Variant',
  'seriousness',
  'customer',
  'product',
  'responsible_section',
  'seriousness_2',
  'service_level',
  'service_type',
  'support_section',
  'workgroup'],
 'new_colnames': ['caseid',
  'activity',
  'timestamp',
  'resource',
  'Variant',
  'seriousness',
  'customer',
  'product',
  'responsible_section',
  'seriousness_2',
  'service_level',
  'service_type',
  'support_section',
  'workgroup'],
 'cat_features': ['Variant',
  'seriousness',
  'customer',
  'product',
  'responsible_section',
  'seriousness_2',
  'service_level',
  'service_type',
  'support_section',
  'workgroup'],
 'num_features': []}

In [20]:
mapping["helpdesk"]["dest"] = "helpdesk/finale_helpdesk.csv"
file = mapping["helpdesk"]
convert_to_csv(file)

helpdesk.csv

,id,event,time,resource,Variant,seriousness,customer,product,responsible_section,seriousness_2,service_level,service_type,support_section,workgroup
0,0,Assign seriousness,2012-10-09 14:50:17,Value 1,Variant 12,Value 1,Value 1,Value 1,Value 1,Value 1,Value 1,Value 1,Value 1,Value 1
1,0,Take in charge ticket,2012-10-09 14:51:01,Value 1,Variant 12,Value 1,Value 1,Value 1,Value 1,Value 1,Value 1,Value 1,Value 1,Value 1
2,0,Take in charge ticket,2012-10-12 15:02:56,Value 2,Variant 12,Value 1,Value 1,Value 1,Value 1,Value 1,Value 2,Value 1,Value 1,Value 1
3,0,Resolve ticket,2012-10-25 11:54:26,Value 1,Variant 12,Value 1,Value 1,Value 1,Value 1,Value 1,Value 2,Value 1,Value 1,Value 1
4,0,Closed,2012-11-09 12:54:39,Value 3,Variant 12,Value 1,Value 1,Value 1,Value 1,Value 1,Value 2,Value 1,Value 1,Value 1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21343,4578,Closed,2013-01-04 16:51:50,Value 3,Variant 2,Value 1,Value 62,Value 1,Value 1,Value 2,Value 1,Value 1,Value 1,Value 1
21344,4579,Assign seriousness,2013-02-12 16:06:37,Value 1,Variant 1,Value 1,Value 92,Value 3,Value 1,Value 2,Value 2,Value 2,Value 1,Value 4
21345,4579,Take in charge ticket,2013-02-25 11:37:20,Value 12,Variant 1,Value 1,Value 92,Value 3,Value 1,Value 2,Value 2,Value 2,Value 1,Value 4
21346,4579,Resolve ticket,2013-03-14 16:24:30,Value 12,Variant 1,Value 1,Value 92,Value 3,Value 1,Value 2,Value 2,Value 2,Value 1,Value 4
21347,4579,Closed,2013-03-29 16:24:45,Value 3,Variant 1,Value 1,Value 92,Value 3,Value 1,Value 2,Value 2,Value 2,Value 1,Value 4

# Traffic_fines

In [21]:
file = mapping["traffic_fines"]
mapping["traffic_fines"]["dest"]

'data/traffic_fines/Road_Traffic_Fine_Management_Process.xes'

In [22]:
xeslog = xes_importer.apply("traffic_fines/Road_Traffic_Fine_Management_Process.xes")
df = xes_converter.apply(xeslog, variant=xes_converter.Variants.TO_DATA_FRAME)

parsing log, completed traces ::   0%|          | 0/150370 [00:00<?, ?it/s]

In [23]:
df.head(30)

,amount,org:resource,dismissal,concept:name,vehicleClass,totalPaymentAmount,lifecycle:transition,time:timestamp,article,points,case:concept:name,expense,notificationType,lastSent,paymentAmount,matricola
0,35.0,561,NIL,Create Fine,A,0.0,complete,2006-07-24 00:00:00+02:00,157.0,0.0,A1,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Send Fine,NaN,NaN,complete,2006-12-05 00:00:00+01:00,NaN,NaN,A1,11.0,NaN,NaN,NaN,NaN
2,35.0,561,NIL,Create Fine,A,0.0,complete,2006-08-02 00:00:00+02:00,157.0,0.0,A100,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,Send Fine,NaN,NaN,complete,2006-12-12 00:00:00+01:00,NaN,NaN,A100,11.0,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,Insert Fine Notification,NaN,NaN,complete,2007-01-15 00:00:00+01:00,NaN,NaN,A100,NaN,P,P,NaN,NaN
5,71.5,NaN,NaN,Add penalty,NaN,NaN,complete,2007-03-16 00:00:00+01:00,NaN,NaN,A100,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,Send for Credit Collection,NaN,NaN,complete,2009-03-30 00:00:00+02:00,NaN,NaN,A100,NaN,NaN,NaN,NaN,NaN
7,36.0,561,NIL,Create Fine,A,0.0,complete,2007-03-09 00:00:00+01:00,157.0,0.0,A10000,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,Send Fine,NaN,NaN,complete,2007-07-17 00:00:00+02:00,NaN,NaN,A10000,13.0,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,Insert Fine Notification,NaN,NaN,complete,2007-08-02 00:00:00+02:00,NaN,NaN,A10000,NaN,P,P,NaN,NaN
10,74.0,NaN,NaN,Add penalty,NaN,NaN,complete,2007-10-01 00:00:00+02:00,NaN,NaN,A10000,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,Payment,NaN,87.0,complete,2008-09-09 00:00:00+02:00,NaN,NaN,A10000,NaN,NaN,NaN,87.0,NaN
12,36.0,537,NIL,Create Fine,A,0.0,complete,2007-03-19 00:00:00+01:00,157.0,0.0,A10001,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,Send Fine,NaN,NaN,complete,2007-07-17 00:00:00+02:00,NaN,NaN,A10001,13.0,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,Insert Fine Notification,NaN,NaN,complete,2007-07-25 00:00:00+02:00,NaN,NaN,A10001,NaN,P,P,NaN,NaN
15,NaN,NaN,NaN,Insert Date Appeal to Prefecture,NaN,NaN,complete,2007-08-02 00:00:00+02:00,NaN,NaN,A10001,NaN,NaN,NaN,NaN,NaN
16,74.0,NaN,NaN,Add penalty,NaN,NaN,complete,2007-09-23 00:00:00+02:00,NaN,NaN,A10001,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,#,Send Appeal to Prefecture,NaN,NaN,complete,2007-09-24 00:00:00+02:00,NaN,NaN,A10001,NaN,NaN,NaN,NaN,NaN
18,36.0,537,NIL,Create Fine,A,0.0,complete,2007-03-20 00:00:00+01:00,157.0,0.0,A10004,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,Send Fine,NaN,NaN,complete,2007-07-17 00:00:00+02:00,NaN,NaN,A10004,13.0,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,Insert Fine Notification,NaN,NaN,complete,2007-07-24 00:00:00+02:00,NaN,NaN,A10004,NaN,P,P,NaN,NaN
21,74.0,NaN,NaN,Add penalty,NaN,NaN,complete,2007-09-22 00:00:00+02:00,NaN,NaN,A10004,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,Send for Credit Collection,NaN,NaN,complete,2009-03-30 00:00:00+02:00,NaN,NaN,A10004,NaN,NaN,NaN,NaN,NaN
23,36.0,537,NIL,Create Fine,A,0.0,complete,2007-03-20 00:00:00+01:00,157.0,0.0,A10005,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,Payment,NaN,36.0,complete,2007-03-21 00:00:00+01:00,NaN,NaN,A10005,NaN,NaN,NaN,36.0,NaN
25,36.0,537,NIL,Create Fine,A,0.0,complete,2007-03-20 00:00:00+01:00,157.0,0.0,A10007,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,Payment,NaN,36.0,complete,2007-03-23 00:00:00+01:00,NaN,NaN,A10007,NaN,NaN,NaN,36.0,NaN
27,36.0,537,NIL,Create Fine,A,0.0,complete,2007-03-20 00:00:00+01:00,157.0,0.0,A10008,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,Send Fine,NaN,NaN,complete,2007-07-17 00:00:00+02:00,NaN,NaN,A10008,13.0,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,Insert Fine Notification,NaN,NaN,complete,2007-08-02 00:00:00+02:00,NaN,NaN,A10008,NaN,P,P,NaN,NaN

In [27]:
df.matricola.value_counts()

0.0    555
Name: matricola, dtype: int64

In [25]:
df.columns.tolist()

['amount',
 'org:resource',
 'dismissal',
 'concept:name',
 'vehicleClass',
 'totalPaymentAmount',
 'lifecycle:transition',
 'time:timestamp',
 'article',
 'points',
 'case:concept:name',
 'expense',
 'notificationType',
 'lastSent',
 'paymentAmount',
 'matricola']

In [26]:
mapping["traffic_fines"]

{'name': 'traffic_fines',
 'dest': 'data/traffic_fines/Road_Traffic_Fine_Management_Process.xes',
 'type': 'xes',
 'utc': True,
 'timestamp': '2006-07-24 00:00:00+02:00',
 'keep_columns': ['case:concept:name',
  'concept:name',
  'time:timestamp',
  'org:resource'],
 'new_colnames': ['caseid', 'activity', 'timestamp', 'resource'],
 'cat_features': [],
 'num_features': []}

In [28]:
mapping["traffic_fines"]['cat_features'] =["dismissal",'vehicleClass','article','notificationType','lastSent','matricola']

mapping["traffic_fines"]['num_features'] = ['amount','totalPaymentAmount','points','expense','paymentAmount']

mapping["traffic_fines"]['keep_columns'] = mapping["traffic_fines"]['keep_columns'] + mapping["traffic_fines"]['cat_features']
mapping["traffic_fines"]['keep_columns'] = mapping["traffic_fines"]['keep_columns'] + mapping["traffic_fines"]['num_features']

mapping["traffic_fines"]['new_colnames'] = mapping["traffic_fines"]['new_colnames'] + mapping["traffic_fines"]['cat_features']
mapping["traffic_fines"]['new_colnames'] = mapping["traffic_fines"]['new_colnames'] + mapping["traffic_fines"]['num_features']

In [29]:
mapping["traffic_fines"]

{'name': 'traffic_fines',
 'dest': 'data/traffic_fines/Road_Traffic_Fine_Management_Process.xes',
 'type': 'xes',
 'utc': True,
 'timestamp': '2006-07-24 00:00:00+02:00',
 'keep_columns': ['case:concept:name',
  'concept:name',
  'time:timestamp',
  'org:resource',
  'dismissal',
  'vehicleClass',
  'article',
  'notificationType',
  'lastSent',
  'matricola',
  'amount',
  'totalPaymentAmount',
  'points',
  'expense',
  'paymentAmount'],
 'new_colnames': ['caseid',
  'activity',
  'timestamp',
  'resource',
  'dismissal',
  'vehicleClass',
  'article',
  'notificationType',
  'lastSent',
  'matricola',
  'amount',
  'totalPaymentAmount',
  'points',
  'expense',
  'paymentAmount'],
 'cat_features': ['dismissal',
  'vehicleClass',
  'article',
  'notificationType',
  'lastSent',
  'matricola'],
 'num_features': ['amount',
  'totalPaymentAmount',
  'points',
  'expense',
  'paymentAmount']}

In [30]:
mapping["traffic_fines"]["dest"] = "traffic_fines/Road_Traffic_Fine_Management_Process.xes"
file = mapping["traffic_fines"]
convert_to_csv(file)

parsing log, completed traces ::   0%|          | 0/150370 [00:00<?, ?it/s]

traffic_fines.csv

,id,event,time,resource,dismissal,vehicleClass,article,notificationType,lastSent,matricola,amount,totalPaymentAmount,points,expense,paymentAmount
0,0,Create Fine,2006-07-24 00:00:00,561,NIL,A,157.0,NaN,NaN,NaN,35.0,0.0,0.0,NaN,NaN
1,0,Send Fine,2006-12-05 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.00,NaN
2,1,Create Fine,2006-08-02 00:00:00,561,NIL,A,157.0,NaN,NaN,NaN,35.0,0.0,0.0,NaN,NaN
3,1,Send Fine,2006-12-12 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.00,NaN
4,1,Insert Fine Notification,2007-01-15 00:00:00,NaN,NaN,NaN,NaN,P,P,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561465,150369,Create Fine,2002-09-07 00:00:00,25,NIL,A,142.0,NaN,NaN,NaN,131.0,0.0,0.0,NaN,NaN
561466,150369,Send Fine,2002-10-25 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.16,NaN
561467,150369,Insert Fine Notification,2002-11-04 00:00:00,NaN,NaN,NaN,NaN,P,N,NaN,NaN,NaN,NaN,NaN,NaN
561468,150369,Add penalty,2003-01-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,262.0,NaN,NaN,NaN,NaN
561469,150369,Send for Credit Collection,2004-01-10 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Hospital_billing

In [31]:
file = mapping["hospital_billing"]
mapping["hospital_billing"]["dest"]

'data/hospital_billing/Hospital Billing - Event Log.xes'

In [32]:
xeslog = xes_importer.apply("hospital_billing/Hospital Billing - Event Log.xes")
df = xes_converter.apply(xeslog, variant=xes_converter.Variants.TO_DATA_FRAME)

parsing log, completed traces ::   0%|          | 0/100000 [00:00<?, ?it/s]

In [33]:
df.head()

,isCancelled,diagnosis,time:timestamp,caseType,speciality,org:resource,concept:name,blocked,isClosed,flagD,flagB,flagA,state,lifecycle:transition,case:concept:name,closeCode,actRed,actOrange,flagC,msgCount,version,msgType,msgCode
0,False,A,2012-12-16 19:33:10+01:00,A,A,ResA,NEW,False,True,True,False,False,In progress,complete,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2013-12-15 19:00:37+01:00,NaN,NaN,NaN,FIN,NaN,NaN,NaN,NaN,NaN,Closed,complete,A,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,2013-12-16 03:53:38+01:00,NaN,NaN,NaN,RELEASE,NaN,NaN,NaN,NaN,NaN,Released,complete,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,2013-12-17 12:56:29+01:00,NaN,NaN,NaN,CODE OK,NaN,NaN,NaN,NaN,NaN,NaN,complete,A,NaN,False,False,False,0.0,A,NaN,NaN
4,NaN,NaN,2013-12-19 03:44:31+01:00,NaN,NaN,ResB,BILLED,NaN,NaN,NaN,NaN,NaN,Billed,complete,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
df.nunique()

isCancelled                  2
diagnosis                 1192
time:timestamp          445457
caseType                    15
speciality                  23
org:resource              1150
concept:name                18
blocked                      2
isClosed                     2
flagD                        2
flagB                        1
flagA                        1
state                       10
lifecycle:transition         1
case:concept:name       100000
closeCode                   36
actRed                       2
actOrange                    2
flagC                        2
msgCount                     7
version                      7
msgType                      2
msgCode                     14
dtype: int64

In [35]:
df.columns.tolist()

['isCancelled',
 'diagnosis',
 'time:timestamp',
 'caseType',
 'speciality',
 'org:resource',
 'concept:name',
 'blocked',
 'isClosed',
 'flagD',
 'flagB',
 'flagA',
 'state',
 'lifecycle:transition',
 'case:concept:name',
 'closeCode',
 'actRed',
 'actOrange',
 'flagC',
 'msgCount',
 'version',
 'msgType',
 'msgCode']

In [36]:
df.tail()

,isCancelled,diagnosis,time:timestamp,caseType,speciality,org:resource,concept:name,blocked,isClosed,flagD,flagB,flagA,state,lifecycle:transition,case:concept:name,closeCode,actRed,actOrange,flagC,msgCount,version,msgType,msgCode
451354,False,OM,2015-12-13 19:31:23+01:00,A,E,ResA,NEW,False,False,False,False,False,In progress,complete,AXQE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
451355,False,NaN,2016-01-14 21:17:47+01:00,B,L,ResDJ,NEW,False,False,False,False,False,In progress,complete,BXQE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
451356,True,NaN,2016-01-14 22:00:13+01:00,NaN,NaN,ResFR,DELETE,NaN,NaN,NaN,NaN,NaN,In progress,complete,BXQE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
451357,False,LL,2016-01-11 19:40:47+01:00,A,D,ResA,NEW,False,False,False,False,False,In progress,complete,CXQE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
451358,False,NaN,2016-01-13 22:48:13+01:00,I,K,ResJA,NEW,False,True,False,False,False,In progress,complete,DXQE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
mapping["hospital_billing"]

{'name': 'hospital_billing',
 'dest': 'data/hospital_billing/Hospital Billing - Event Log.xes',
 'type': 'xes',
 'utc': True,
 'timestamp': '2012-12-16 19:33:10+01:00',
 'keep_columns': ['case:concept:name',
  'concept:name',
  'time:timestamp',
  'org:resource'],
 'new_colnames': ['caseid', 'activity', 'timestamp', 'resource'],
 'cat_features': [],
 'num_features': []}

In [38]:
mapping["hospital_billing"]['cat_features'] =['isCancelled', 
                                              'diagnosis', ########### this feature require too much memory to dummify
                                              'caseType', 
                                              'speciality',
                                              'blocked',
                                              'isClosed', 
                                              'flagD', 
                                              'flagB', 
                                              'flagA', 
                                              'state',
                                              'closeCode',
                                              'actRed', 
                                              'actOrange', 
                                              'flagC', 
                                              'version', 
                                              'msgType', 
                                              'msgCode']

mapping["hospital_billing"]['num_features'] = ['msgCount']

mapping["hospital_billing"]['keep_columns'] = mapping["hospital_billing"]['keep_columns'] + mapping["hospital_billing"]['cat_features']
mapping["hospital_billing"]['keep_columns'] = mapping["hospital_billing"]['keep_columns'] + mapping["hospital_billing"]['num_features']

mapping["hospital_billing"]['new_colnames'] = mapping["hospital_billing"]['new_colnames'] + mapping["hospital_billing"]['cat_features']
mapping["hospital_billing"]['new_colnames'] = mapping["hospital_billing"]['new_colnames'] + mapping["hospital_billing"]['num_features']

In [39]:
mapping["hospital_billing"]

{'name': 'hospital_billing',
 'dest': 'data/hospital_billing/Hospital Billing - Event Log.xes',
 'type': 'xes',
 'utc': True,
 'timestamp': '2012-12-16 19:33:10+01:00',
 'keep_columns': ['case:concept:name',
  'concept:name',
  'time:timestamp',
  'org:resource',
  'isCancelled',
  'diagnosis',
  'caseType',
  'speciality',
  'blocked',
  'isClosed',
  'flagD',
  'flagB',
  'flagA',
  'state',
  'closeCode',
  'actRed',
  'actOrange',
  'flagC',
  'version',
  'msgType',
  'msgCode',
  'msgCount'],
 'new_colnames': ['caseid',
  'activity',
  'timestamp',
  'resource',
  'isCancelled',
  'diagnosis',
  'caseType',
  'speciality',
  'blocked',
  'isClosed',
  'flagD',
  'flagB',
  'flagA',
  'state',
  'closeCode',
  'actRed',
  'actOrange',
  'flagC',
  'version',
  'msgType',
  'msgCode',
  'msgCount'],
 'cat_features': ['isCancelled',
  'diagnosis',
  'caseType',
  'speciality',
  'blocked',
  'isClosed',
  'flagD',
  'flagB',
  'flagA',
  'state',
  'closeCode',
  'actRed',
  'actOrange',
  'flagC',
  'version',
  'msgType',
  'msgCode'],
 'num_features': ['msgCount']}

In [40]:
def convert_to_csv(file):
    import pandas as pd
    from pm4py.objects.conversion.log import converter as xes_converter
    from pm4py.objects.log.importer.xes import importer as xes_importer
    
    if file["type"] == "csv":
        df = pd.read_csv(file["dest"],sep=file["sep"])
    if file["type"] == "xes":
        xeslog = xes_importer.apply(file["dest"])
        df = xes_converter.apply(xeslog, variant=xes_converter.Variants.TO_DATA_FRAME)
    
    
    #drop unused columns
    df = df[file["keep_columns"]]

    #rename colnames
    df.columns = file["new_colnames"]
    
    if file["utc"] == True:    
        #convert to string, for later truncation
        df["timestamp"] = df["timestamp"].astype(str)

        #get length of datetime
        dt_len = len(df.loc[0]["timestamp"])

        #remove the last chars, containing utc
        df['timestamp'] = df['timestamp'].str.slice(0, dt_len-6)
    
    if file["utc"] == False: 
        # convert to datetime
        df["timestamp"] = pd.to_datetime(df["timestamp"], format="%Y-%m-%d %H:%M:%S")
    

    #convert back to string
    #df["timestamp"] = df["timestamp"].dt.strftime("%Y-%m-%d %H:%M:%S") #%Y-%m-%d %H:%M:%S

    #convert string case ids into integer codes
    df["caseid"] = df["caseid"].astype('category')
    df["caseid"] = df["caseid"].cat.codes
        
    #sort by caseid, then timestamp
    df = df.sort_values(['caseid', 'timestamp'], ascending=[True, True])
    df.index = list(range(0,len(df)))
    
    #generate activity numbers
    df["activity_no"] = df.groupby('caseid').cumcount()
  
    """
    further processing
    """

    #df = df[['caseid', 'activity', 'activity_no', 'timestamp']]
    df = df[file["new_colnames"]]

    # rename
    df = df.rename({"caseid":"id", "timestamp":"time","activity":"event"}, axis='columns')
    
    #store to CSV
    df.to_csv(file["name"]+".csv",index=False)
    print(file["name"]+".csv")
    return df

In [41]:
mapping["hospital_billing"]["dest"] = "hospital_billing/Hospital Billing - Event Log.xes"
file = mapping["hospital_billing"]
df = convert_to_csv(file)

parsing log, completed traces ::   0%|          | 0/100000 [00:00<?, ?it/s]

hospital_billing.csv

In [42]:
df

,id,event,time,resource,isCancelled,diagnosis,caseType,speciality,blocked,isClosed,flagD,flagB,flagA,state,closeCode,actRed,actOrange,flagC,version,msgType,msgCode,msgCount
0,0,NEW,2012-12-16 19:33:10,ResA,False,A,A,A,False,True,True,False,False,In progress,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,FIN,2013-12-15 19:00:37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Closed,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,RELEASE,2013-12-16 03:53:38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Released,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,CODE OK,2013-12-17 12:56:29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,A,NaN,NaN,0.0
4,0,BILLED,2013-12-19 03:44:31,ResB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Billed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451354,99999,NEW,2015-06-27 02:01:17,ResA,False,UE,A,H,False,True,True,False,False,In progress,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
451355,99999,FIN,2015-07-06 23:57:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Closed,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN
451356,99999,RELEASE,2015-07-15 05:39:38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Released,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
451357,99999,CODE OK,2015-07-15 06:33:01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,E,NaN,NaN,0.0
451358,99999,BILLED,2015-07-20 22:34:51,ResB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Billed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Simulation

In [43]:
file = mapping["simulation"]
mapping["simulation"]["dest"] = "simulated_log.csv" #'data/simulated_log.csv'

In [44]:
df = pd.read_csv(mapping["simulation"]["dest"])
df

,id,event,activity_no,y_acc_sum,X,Y,z_t,h_t,b_t,q_t,s_t,v_t,arrival_datetime,start_datetime,time,start_day,start_hour
0,0,e,1,2.982097,2.791477,2.982097,2.791477,0.041,0.832243,3.664719,0.000000,0.190620,1970-01-07 18:59:43,1970-01-08 15:57:11,1970-01-07 23:34:13,Thursday,15
1,0,f,2,6.759119,2.982097,3.777023,2.791477,0.041,0.288685,3.311782,0.188218,0.606708,1970-01-07 23:34:13,1970-01-08 12:00:00,1970-01-08 18:38:54,Thursday,12
2,0,f,3,11.100963,3.777023,4.341844,2.791477,0.000,0.196441,3.973463,0.000000,0.564821,1970-01-08 18:38:54,1970-01-08 23:21:47,1970-01-09 08:12:15,Thursday,23
3,0,e,4,17.853815,4.341844,6.752851,2.791477,0.082,0.717549,5.141393,2.358607,0.052400,1970-01-09 08:12:15,1970-01-12 12:00:00,1970-01-11 18:04:06,Monday,12
4,0,d,5,24.698224,6.752851,6.844409,2.791477,0.000,0.037949,0.790801,0.000000,0.091557,1970-01-11 18:04:06,1970-01-05 18:58:45,1970-01-11 20:15:56,Monday,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107663,4999,f,18,132530.532237,7365.786043,7366.108497,7357.650735,0.000,0.098204,3.884247,0.000000,0.322454,1990-03-06 18:51:54,1970-01-08 21:13:18,1990-03-07 02:36:14,Thursday,21
107664,4999,g,19,139896.813873,7366.108497,7366.281637,7357.650735,0.041,0.229884,4.379381,0.120619,0.052521,1990-03-07 02:36:14,1970-01-09 12:00:00,1990-03-07 06:45:33,Friday,12
107665,4999,d,20,147263.146134,7366.281637,7366.332261,7357.650735,0.000,0.335391,4.617028,0.000000,0.050624,1990-03-07 06:45:33,1970-01-09 14:48:31,1990-03-07 07:58:27,Friday,14
107666,4999,f,21,154630.059248,7366.332261,7366.913113,7357.650735,0.000,0.027442,4.359703,0.140297,0.440556,1990-03-07 07:58:27,1970-01-09 12:00:00,1990-03-07 21:54:52,Friday,12
107667,4999,d,22,161999.783664,7366.913113,7369.724416,7357.650735,0.041,0.381091,5.335205,2.164795,0.646508,1990-03-07 21:54:52,1970-01-12 12:00:00,1990-03-10 17:23:09,Monday,12

In [45]:
df.columns.tolist()

['id',
 'event',
 'activity_no',
 'y_acc_sum',
 'X',
 'Y',
 'z_t',
 'h_t',
 'b_t',
 'q_t',
 's_t',
 'v_t',
 'arrival_datetime',
 'start_datetime',
 'time',
 'start_day',
 'start_hour']

In [46]:
mapping["simulation"]['cat_features'] =["start_day","start_hour"]

mapping["simulation"]['num_features'] = []

mapping["simulation"]['keep_columns'] = mapping["simulation"]['keep_columns'] + mapping["simulation"]['cat_features']
mapping["simulation"]['keep_columns'] = mapping["simulation"]['keep_columns'] + mapping["simulation"]['num_features']

mapping["simulation"]['new_colnames'] = mapping["simulation"]['new_colnames'] + mapping["simulation"]['cat_features']
mapping["simulation"]['new_colnames'] = mapping["simulation"]['new_colnames'] + mapping["simulation"]['num_features']

In [47]:
mapping["simulation"]

{'name': 'simulation',
 'dest': 'simulated_log.csv',
 'type': 'csv',
 'sep': ',',
 'utc': False,
 'timestamp': '07/01/1970  18:59:43',
 'timeformat': '%d/%m/%Y %H:%M:%S',
 'keep_columns': ['id', 'event', 'start_datetime', 'start_day', 'start_hour'],
 'new_colnames': ['caseid',
  'activity',
  'timestamp',
  'start_day',
  'start_hour'],
 'cat_features': ['start_day', 'start_hour'],
 'num_features': []}

In [48]:
#mapping["simulation"]["dest"] = "helpdesk/finale_helpdesk.csv"
file = mapping["simulation"]
convert_to_csv(file)

simulation.csv

          id event                time start_day  start_hour
0          0     d 1970-01-05 18:58:45    Monday          18
1          0     e 1970-01-06 12:00:00   Tuesday          12
2          0     d 1970-01-06 12:00:00   Tuesday          12
3          0     f 1970-01-06 12:00:00   Tuesday          12
4          0     g 1970-01-06 16:48:52   Tuesday          16
...      ...   ...                 ...       ...         ...
107663  4999     f 1970-01-09 12:00:00    Friday          12
107664  4999     d 1970-01-09 14:48:31    Friday          14
107665  4999     c 1970-01-09 19:11:52    Friday          19
107666  4999     f 1970-01-12 12:00:00    Monday          12
107667  4999     d 1970-01-12 12:00:00    Monday          12

[107668 rows x 5 columns]

# Dump settings to pickle

In [49]:
# Save preprocess settings
import pickle
with open('mapping.pickle', 'wb') as handle:
    pickle.dump(mapping, handle, protocol=pickle.HIGHEST_PROTOCOL)